{% import_yaml 'common/yum/remi/defaults.yml' as default_settings %}

{% set map_remi_settings = salt['pillar.get'](
        'remi',
        default=default_settings.default.remi,
        merge=True
    ) 
%}

{% set pkg = salt['grains.filter_by']({
  '5': {
    'key': 'http://rpms.famillecollet.com/RPM-GPG-KEY-remi',
    'key_hash': 'md5=3abb4e5a7b1408c888e19f718c012630',
    'rpm': 'http://mirrors.mediatemple.net/remi/enterprise/remi-release-5.rpm',
  },
  '6': {
    'key': 'http://rpms.famillecollet.com/RPM-GPG-KEY-remi',
    'key_hash': 'md5=3abb4e5a7b1408c888e19f718c012630',
    'rpm': 'http://mirrors.mediatemple.net/remi/enterprise/remi-release-6.rpm',
  },
  '7': {
    'key': 'http://rpms.famillecollet.com/RPM-GPG-KEY-remi',
    'key_hash': 'md5=3abb4e5a7b1408c888e19f718c012630',
    'rpm': 'http://mirrors.mediatemple.net/remi/enterprise/remi-release-7.rpm',
  },
}, 'osmajorrelease') %}
